---
---

@import "{{ site.theme }}";
@import "./base.css";
@import "./menus.css";

body {
  font-family: 'Georgia', 'Helvetica', sans-serif;
}

h1 {
  margin: 0 0 20px 0;
}

#project_title {
  color: #94b1b5;
  font-size: 32px;
  text-shadow: none;
}

#header_wrap {
  background: #20384f;

  a {
    color: #fff;
  }
}

nav {
  background: #5f7e82;
  display: block;
  font-size: .875em;
  width: 100%;

  a {
    color: #fff;
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin: 15px 30px;
    padding: 6px 0;
    text-transform: uppercase;

    &.current {
      color: #000;
      padding: 6px 12px;
    }
  }
}

img {
  padding: 0;
  max-width: 100%;
}

.bio {
  border-bottom: 1px solid #999;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  position: relative;
  width: 100%;
}

.left {
  display: inline-block;
  margin: 0 10% 0 0;
  width: 30%;
}

.right {
  display: inline-block;
  margin: 0 -4px;
  vertical-align: top;
  width: 60%;

  p {
    font-size: .875em;
  }
}
